body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header {
    background: linear-gradient(135deg, #6b6b6b, #333);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1.5px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

section {
    padding: 20px 0;
    border-bottom: #77aaff 1px solid;
}

section:last-child {
    border-bottom: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

h2::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #77aaff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 7px double rgb(146, 223, 223);
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #77aaff;
    width: fit-content;
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.05);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.project {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.size {
    font-size: 19px;
}
